/*
  Kanbkam sass Them
  version:0.0.1
*/
/*Direction */
/* BASE - Base styles , variables, mixins, ect*/
/*FONT*/
.sprite, .open-account i, .side-form header .arrow i, body > header .navbar-default .navbar-right li.lang i, body > .cd-nav .cd-primary-nav li a.my-account i, .footer .contact > div ul li i, .footer .contact > div .social-links li a, .home-template .spread-block .responsive-slide .parent .item .spread-value i, .home-template .why-hob > li .media i, .home-template .platforms .tab-content .tab-pane figcaption header h3 i, .home-template .platforms .nav-tabs li a i, .home-template .products ul li .media-left > i, .about-template .icon-list span i, .forex-template .icon-list span i, .forex-template .media-list .media-left i, .forex-template .table-pricing .pricing > footer a i, .forex-template .spread-section .nav-tabs li i.pairs {
  position: relative;
  background: url("../../img/sprite.png") no-repeat transparent;
  display: block; }

/*UNCTIONS*/
/*MIXIN*/
/* Powered by: https://github.com/tonystar/float-label-css
 */
/* Re-usable mixins
 * https://github.com/tonystar/float-label-css/blob/master/scss/_mixins.scss
 */
a {
  color: #d5cbaa; }
  a:hover, a:focus, a:active, a:focus:active {
    color: #737479; }

.form-control, .select2-container .select2-selection--single,
.modal-content {
  border-radius: 0; }

.section {
  padding-top: 65px;
  padding-bottom: 65px; }

body {
  color: #2a2c31;
  background: #f7f6f2;
  overflow-x: hidden; }

body, html {
  min-height: 100%;
  height: 100%; }

main,
.content {
  height: auto;
  min-height: 100%;
  position: relative; }

.main-content {
  padding-bottom: 590px; }
  @media screen and (max-width: 767px) {
    .main-content {
      padding-bottom: 103px; } }

.list-unstyled, .forex-template .media-list {
  padding: 0; }
  .list-unstyled li, .forex-template .media-list li {
    background: none;
    margin: 0; }

/*container max width*/
.container-fluid {
  max-width: 1170px; }

.default-sec-margine {
  margin-top: 50px; }

a {
  color: #887d5a; }

a:focus,
a:hover,
a:active {
  text-decoration: none;
  outline: 0;
  color: #2a2c31; }

/*MODULES  - Individual site components */
/*FONT*/
@font-face {
  font-family: "font-bold";
  src: url("../../fonts/ltr/font-bold.eot");
  src: url("../../fonts/ltr/font-bold.eot?#iefix") format("embedded-opentype"), url("../../fonts/ltr/font-bold.woff") format("woff"), url("../../fonts/ltr/font-bold.ttf") format("truetype"); }
@font-face {
  font-family: "font-reg";
  src: url("../../fonts/ltr/font-reg.eot");
  src: url("../../fonts/ltr/font-reg.eot?#iefix") format("embedded-opentype"), url("../../fonts/ltr/font-reg.woff") format("woff"), url("../../fonts/ltr/font-reg.ttf") format("truetype"); }
@font-face {
  font-family: "font-light";
  src: url("../../fonts/ltr/font-light.eot");
  src: url("../../fonts/ltr/font-light.eot?#iefix") format("embedded-opentype"), url("../../fonts/ltr/font-light.woff") format("woff"), url("../../fonts/ltr/font-light.ttf") format("truetype"); }
@font-face {
  font-family: "font-med";
  src: url("../../fonts/ltr/font-med.eot");
  src: url("../../fonts/ltr/font-med.eot?#iefix") format("embedded-opentype"), url("../../fonts/ltr/font-med.woff") format("woff"), url("../../fonts/ltr/font-med.ttf") format("truetype"); }
html {
  font-size: 16px; }

body {
  font-family: "font-reg", Helvetica, Arial, sans-serif; }

h1, h2, h3 {
  font-family: "font-light", Helvetica, Arial, sans-serif; }

@media (min-width: 1170px) {
  .open-account {
    display: none !important; } }
.open-account div:first-child a {
  border-bottom: 1px solid #3f351f; }
.open-account a {
  opacity: 0.8;
  filter: alpha(opacity=80);
  display: inline-block; }
.open-account i.demo-icon {
  width: 45px;
  height: 49px;
  background-position: -137px -432px;
  top: 4px; }
.open-account i.live-icon {
  width: 38px;
  height: 38px;
  margin-right: 7px;
  background-position: -183px -432px; }
.open-account h5 {
  display: inline-block;
  font-family: "font-reg", Helvetica, Arial, sans-serif;
  font-size: 17px;
  font-size: 1.0625rem;
  color: #d5cbaa;
  text-transform: uppercase;
  margin-left: 10px; }
  .open-account h5 span {
    font-size: 20px;
    font-size: 1.25rem;
    text-transform: none;
    color: #fff;
    opacity: 0.5;
    filter: alpha(opacity=50);
    display: block;
    font-family: "font-light", Helvetica, Arial, sans-serif;
    padding-bottom: 5px;
    letter-spacing: 0.5px; }

.btn {
  border-radius: 0;
  min-height: 50px;
  border-width: 2px;
  font-size: 16px;
  font-size: 1rem;
  line-height: 31px; }

.btn:hover,
.btn:active,
.btn:focus {
  box-shadow: 0;
  outline: 0;
  opacity: 0.8;
  filter: alpha(opacity=80); }

.btn-default,
.btn-default:hover,
.btn-default:active,
.btn-default:active:focus,
.btn-default:focus,
.btn-default:focus:hover {
  background: transparent;
  color: #d5cbaa;
  border-color: #d5cbaa; }

.btn-primary,
.btn-primary:hover,
.btn-primary:active,
.btn-primary:focus,
.btn-primary:active:focus,
.btn-primary:active:hover,
.btn-primary:focus:hover {
  background-image: -webkit-linear-gradient(top, #d0c49d 0%, #aea480 100%);
  background-image: -o-linear-gradient(top, #d0c49d 0%, #aea480 100%);
  background-image: linear-gradient(to bottom, #d0c49d 0%, #aea480 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFD0C49D', endColorstr='#FFAEA480', GradientType=0);
  border-width: 0;
  color: #fff;
  outline: 0;
  font-size: 30px;
  font-size: 1.875rem;
  text-transform: uppercase;
  padding: 20px 30px; }

.more:hover {
  border-color: #2a2c31;
  color: #2a2c31; }

.hero, .hero-inner, .institutional-template .hero, .about-template .hero, .forex-template .hero {
  display: block;
  width: 100%;
  margin: 0 auto; }

.hero-inner, .institutional-template .hero, .institutional-template .hero-inner, .about-template .hero, .forex-template .hero, .about-template .hero-inner, .forex-template .hero-inner {
  margin-top: -75px;
  padding-top: 190px;
  position: relative;
  margin-bottom: 60px; }
  @media (min-width: 768px) {
    .hero-inner, .institutional-template .hero, .institutional-template .hero-inner, .about-template .hero, .forex-template .hero, .about-template .hero-inner, .forex-template .hero-inner {
      height: 490px; } }
  @media (min-width: 992px) {
    .hero-inner, .institutional-template .hero, .institutional-template .hero-inner, .about-template .hero, .forex-template .hero, .about-template .hero-inner, .forex-template .hero-inner {
      height: 465px; } }
  @media screen and (max-width: 767px) {
    .hero-inner, .institutional-template .hero, .institutional-template .hero-inner, .about-template .hero, .forex-template .hero, .about-template .hero-inner, .forex-template .hero-inner {
      height: auto;
      padding-bottom: 70px; } }
  .hero-inner article, .institutional-template .hero article, .institutional-template .hero-inner article, .about-template .hero article, .forex-template .hero article, .about-template .hero-inner article, .forex-template .hero-inner article {
    padding-top: 61px; }
    .hero-inner article.brife, .institutional-template .hero article.brife, .about-template .hero article.brife, .forex-template .hero article.brife {
      padding-top: 0; }
  .hero-inner header > h1, .institutional-template .hero header > h1, .institutional-template .hero-inner header > h1, .about-template .hero header > h1, .forex-template .hero header > h1, .about-template .hero-inner header > h1, .forex-template .hero-inner header > h1 {
    color: #d5cbaa;
    font-family: "font-bold", Helvetica, Arial, sans-serif;
    margin: 0;
    font-size: 70px;
    font-size: 4.375rem; }
    @media screen and (max-width: 767px) {
      .hero-inner header > h1, .institutional-template .hero header > h1, .institutional-template .hero-inner header > h1, .about-template .hero header > h1, .forex-template .hero header > h1, .about-template .hero-inner header > h1, .forex-template .hero-inner header > h1 {
        font-size: 50px;
        font-size: 3.125rem; } }
  .hero-inner p, .institutional-template .hero p, .institutional-template .hero-inner p, .about-template .hero p, .forex-template .hero p, .about-template .hero-inner p, .forex-template .hero-inner p {
    color: #c0c0c0;
    margin-top: 30px;
    font-size: 17px;
    font-size: 1.0625rem;
    font-size: 17px;
    font-size: 1.0625rem;
    line-height: 25px;
    overflow: hidden; }
    @media screen and (max-width: 767px) {
      .hero-inner p, .institutional-template .hero p, .institutional-template .hero-inner p, .about-template .hero p, .forex-template .hero p, .about-template .hero-inner p, .forex-template .hero-inner p {
        font-size: 50px;
        font-size: 3.125rem; } }
    @media (min-width: 768px) {
      .hero-inner p, .institutional-template .hero p, .institutional-template .hero-inner p, .about-template .hero p, .forex-template .hero p, .about-template .hero-inner p, .forex-template .hero-inner p {
        max-height: 740px; } }
    @media (min-width: 992px) {
      .hero-inner p, .institutional-template .hero p, .institutional-template .hero-inner p, .about-template .hero p, .forex-template .hero p, .about-template .hero-inner p, .forex-template .hero-inner p {
        max-height: 100px; } }
    @media screen and (max-width: 767px) {
      .hero-inner p, .institutional-template .hero p, .institutional-template .hero-inner p, .about-template .hero p, .forex-template .hero p, .about-template .hero-inner p, .forex-template .hero-inner p {
        font-size: 15px;
        font-size: 0.9375rem; } }
  .hero-inner .breadcrumb-main, .institutional-template .hero .breadcrumb-main, .about-template .hero .breadcrumb-main, .forex-template .hero .breadcrumb-main {
    position: absolute;
    bottom: 0;
    background: rgba(0, 0, 0, 0.3);
    height: 50px;
    width: 100%; }
    .hero-inner .breadcrumb-main .breadcrumb, .institutional-template .hero .breadcrumb-main .breadcrumb, .about-template .hero .breadcrumb-main .breadcrumb, .forex-template .hero .breadcrumb-main .breadcrumb {
      background-color: transparent;
      margin: 0;
      padding-top: 13px; }
      .hero-inner .breadcrumb-main .breadcrumb li a, .institutional-template .hero .breadcrumb-main .breadcrumb li a, .about-template .hero .breadcrumb-main .breadcrumb li a, .forex-template .hero .breadcrumb-main .breadcrumb li a, .hero-inner .breadcrumb-main .breadcrumb li span, .institutional-template .hero .breadcrumb-main .breadcrumb li span, .about-template .hero .breadcrumb-main .breadcrumb li span, .forex-template .hero .breadcrumb-main .breadcrumb li span {
        color: #d5cbaa;
        font-size: 16px;
        font-size: 1rem;
        font-size: 16px;
        font-size: 1rem; }
        .hero-inner .breadcrumb-main .breadcrumb li a i, .institutional-template .hero .breadcrumb-main .breadcrumb li a i, .about-template .hero .breadcrumb-main .breadcrumb li a i, .forex-template .hero .breadcrumb-main .breadcrumb li a i, .hero-inner .breadcrumb-main .breadcrumb li span i, .institutional-template .hero .breadcrumb-main .breadcrumb li span i, .about-template .hero .breadcrumb-main .breadcrumb li span i, .forex-template .hero .breadcrumb-main .breadcrumb li span i {
          font-size: 14px;
          font-size: 0.875rem; }
      .hero-inner .breadcrumb-main .breadcrumb li a:hover, .institutional-template .hero .breadcrumb-main .breadcrumb li a:hover, .about-template .hero .breadcrumb-main .breadcrumb li a:hover, .forex-template .hero .breadcrumb-main .breadcrumb li a:hover {
        color: #c1c1c4; }
      .hero-inner .breadcrumb-main .breadcrumb li.active a, .institutional-template .hero .breadcrumb-main .breadcrumb li.active a, .about-template .hero .breadcrumb-main .breadcrumb li.active a, .forex-template .hero .breadcrumb-main .breadcrumb li.active a {
        cursor: default;
        color: #8d8e92; }
      @media screen and (max-width: 480px) {
        .hero-inner .breadcrumb-main .breadcrumb li:nth-child(2), .institutional-template .hero .breadcrumb-main .breadcrumb li:nth-child(2), .about-template .hero .breadcrumb-main .breadcrumb li:nth-child(2), .forex-template .hero .breadcrumb-main .breadcrumb li:nth-child(2) {
          display: none; } }
      .hero-inner .breadcrumb-main .breadcrumb li + li::before, .institutional-template .hero .breadcrumb-main .breadcrumb li + li::before, .about-template .hero .breadcrumb-main .breadcrumb li + li::before, .forex-template .hero .breadcrumb-main .breadcrumb li + li::before {
        top: 1px;
        display: inline-block;
        font-family: 'Glyphicons Halflings';
        font-style: normal;
        font-weight: normal;
        line-height: 1;
        font-size: 12px;
        font-size: 0.75rem;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        color: #887d5a;
        content: "\e080"; }

.inner-template {
  margin-bottom: 60px; }
  .inner-template p {
    font-size: 17px;
    font-size: 1.0625rem;
    line-height: 26px;
    color: #2a2c31;
    margin-bottom: 0;
    font-size: 17px;
    font-size: 1.0625rem;
    line-height: 26px; }
    @media screen and (max-width: 767px) {
      .inner-template p {
        font-size: 15px;
        font-size: 0.9375rem; } }
  .inner-template blockquote {
    padding: 0 0 0 15px;
    border-left: 3px solid #d2d2d2;
    font-size: 17px;
    font-size: 1.0625rem;
    line-height: 26px;
    color: #2a2c31;
    margin-bottom: 25px; }
    @media screen and (max-width: 767px) {
      .inner-template blockquote {
        font-size: 15px;
        font-size: 0.9375rem; } }
  .inner-template h2 {
    font-size: 37px;
    font-size: 2.3125rem;
    font-family: "font-med", Helvetica, Arial, sans-serif;
    margin-bottom: 50px;
    margin-top: 0;
    text-transform: capitalize;
    position: relative;
    line-height: 1.5; }
    @media screen and (max-width: 767px) {
      .inner-template h2 {
        font-size: 27px;
        font-size: 1.6875rem; } }
    .inner-template h2 .line {
      width: 80px;
      height: 4px;
      position: absolute;
      background: #887d5a;
      bottom: -8px; }
  .inner-template h3 {
    margin: 0;
    color: #2a2c31;
    font-size: 30px;
    font-size: 1.875rem;
    font-family: "font-med", Helvetica, Arial, sans-serif;
    margin-bottom: 20px; }
    @media screen and (max-width: 767px) {
      .inner-template h3 {
        font-size: 20px;
        font-size: 1.25rem; } }
  .inner-template .hob-ul {
    padding-left: 15px;
    list-style: none; }
    .inner-template .hob-ul > li {
      background: url("../../img/list-style.png") no-repeat transparent left 9px;
      padding-left: 15px;
      line-height: 21px;
      margin-bottom: 11px;
      font-size: 17px;
      font-size: 1.0625rem;
      line-height: 26px; }
      @media screen and (max-width: 767px) {
        .inner-template .hob-ul > li {
          font-size: 15px;
          font-size: 0.9375rem; } }
      .inner-template .hob-ul > li > ul {
        margin-top: 15px;
        padding-left: 15px;
        list-style: none; }
        .inner-template .hob-ul > li > ul > li {
          background: url("../../img/list-style-nested.png") no-repeat transparent left 10px;
          padding-left: 15px;
          line-height: 26px;
          margin-bottom: 10px; }
          .inner-template .hob-ul > li > ul > li p {
            font-size: 16px;
            font-size: 1rem;
            color: #7d7d7e;
            font-size: 16px;
            font-size: 1rem; }
            @media screen and (max-width: 767px) {
              .inner-template .hob-ul > li > ul > li p {
                font-size: 14px;
                font-size: 0.875rem; } }
  .inner-template article + article {
    border-top: 1px solid #d1ccba; }
  .inner-template article > header:first-child {
    padding-top: 20px; }
  .inner-template .center {
    text-align: center; }

.side-form {
  background: #fff;
  border: 1px solid #d9cea8;
  margin-bottom: 60px; }
  .side-form header {
    border-bottom: 1px solid #d9cea8;
    padding: 20px;
    text-align: center;
    position: relative;
    padding-bottom: 40px;
    margin-bottom: 40px; }
    .side-form header h5 {
      font-family: "font-light", Helvetica, Arial, sans-serif;
      margin: 0;
      font-size: 26px;
      font-size: 1.625rem; }
    .side-form header span {
      font-size: 14px;
      font-size: 0.875rem;
      opacity: 0.5;
      filter: alpha(opacity=50);
      letter-spacing: 0.2px; }
    .side-form header .arrow {
      width: 45px;
      height: 45px;
      background: #d5cbaa;
      border-radius: 100px;
      display: inline-block;
      position: absolute;
      padding-top: 17px;
      left: 50%;
      margin-left: -22px;
      bottom: -22px;
      opacity: 1;
      filter: alpha(opacity=100); }
      .side-form header .arrow i {
        width: 19px;
        height: 10px;
        background-position: -368px -341px !important; }
  .side-form form {
    padding: 0 20px 20px;
    /* Default styling
     * https://github.com/tonystar/float-label-css/blob/master/scss/float-label.scss
     */ }
    .side-form form .form-group {
      margin-bottom: 20px; }
    .side-form form .form-control, .side-form form .select2-container .select2-selection--single, .select2-container .side-form form .select2-selection--single {
      border-width: 0;
      border-bottom-width: 1px;
      border-color: #ebe9e4;
      box-shadow: none;
      color: #2a2c31;
      max-width: 100%;
      font-size: 16px;
      font-size: 1rem;
      padding: 6px 0; }
      .side-form form .form-control:focus, .side-form form .select2-container .select2-selection--single:focus, .select2-container .side-form form .select2-selection--single:focus {
        border-color: #d5cbaa; }
    .side-form form label {
      font-weight: normal;
      color: #b4b3b1;
      font-size: 16px;
      font-size: 1rem; }
    .side-form form .input-group {
      direction: ltr; }
      .side-form form .input-group input {
        margin-bottom: 0 !important; }
    .side-form form .input-group-addon {
      background: none;
      border-radius: 0;
      border-width: 0;
      border-bottom-width: 1px;
      border-color: #ebe9e4; }
      .side-form form .input-group-addon input {
        padding: 0;
        width: 41px;
        height: 21px;
        border-bottom-width: 0;
        border-right-width: 1px;
        background-color: #fff;
        cursor: default; }
    .side-form form .form-control::-moz-placeholder, .side-form form .select2-container .select2-selection--single::-moz-placeholder, .select2-container .side-form form .select2-selection--single::-moz-placeholder {
      color: #b4b3b1;
      opacity: 1; }
    .side-form form .form-control:-ms-input-placeholder, .side-form form .select2-container .select2-selection--single:-ms-input-placeholder, .select2-container .side-form form .select2-selection--single:-ms-input-placeholder {
      color: #b4b3b1; }
    .side-form form .form-control::-webkit-input-placeholder, .side-form form .select2-container .select2-selection--single::-webkit-input-placeholder, .select2-container .side-form form .select2-selection--single::-webkit-input-placeholder {
      color: #b4b3b1; }
    .side-form form .form-control::-ms-expand, .side-form form .select2-container .select2-selection--single::-ms-expand, .select2-container .side-form form .select2-selection--single::-ms-expand {
      background-color: transparent;
      border: 0; }
    .side-form form .button {
      text-align: center; }
      .side-form form .button button,
      .side-form form .button button:hover {
        font-size: 25px;
        font-size: 1.5625rem;
        padding: 12px;
        width: 70%; }
    .side-form form .has-float-label {
      display: block;
      position: relative; }
      .side-form form .has-float-label label, .side-form form .has-float-label > span {
        position: absolute;
        left: 0;
        top: -10px;
        cursor: text;
        font-size: 75%;
        opacity: 1;
        transition: all .2s;
        color: #b4b3b1; }
      .side-form form .has-float-label select {
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none; }
      .side-form form .has-float-label input::-webkit-input-placeholder,
      .side-form form .has-float-label textarea::-webkit-input-placeholder {
        opacity: 0;
        transition: all .2s; }
      .side-form form .has-float-label input, .side-form form .has-float-label select, .side-form form .has-float-label textarea {
        padding-top: 6px;
        margin-bottom: 2px;
        z-index: 1;
        background: transparent;
        position: relative; }
        .side-form form .has-float-label input::placeholder, .side-form form .has-float-label select::placeholder, .side-form form .has-float-label textarea::placeholder {
          opacity: 0;
          transition: all .2s; }
        .side-form form .has-float-label input:placeholder-shown:not(:focus)::placeholder, .side-form form .has-float-label select:placeholder-shown:not(:focus)::placeholder, .side-form form .has-float-label textarea:placeholder-shown:not(:focus)::placeholder {
          opacity: 0; }
        .side-form form .has-float-label input:placeholder-shown:not(:focus) + *, .side-form form .has-float-label select:placeholder-shown:not(:focus) + *, .side-form form .has-float-label textarea:placeholder-shown:not(:focus) + * {
          font-size: 117%;
          opacity: 1;
          top: .25em; }
        .side-form form .has-float-label input:focus, .side-form form .has-float-label select:focus, .side-form form .has-float-label textarea:focus {
          outline: none; }
      .side-form form .has-float-label select {
        padding-right: 1em;
        background: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 4 5'%3E%3Cpath fill='%23333' d='M2 0L0 2h4zm0 5L0 3h4z'/%3E%3C/svg%3E") no-repeat right 0.5em bottom 0.25em;
        background-size: 8px 10px; }

.sprite, .open-account i, .side-form header .arrow i, body > header .navbar-default .navbar-right li.lang i, body > .cd-nav .cd-primary-nav li a.my-account i, .footer .contact > div ul li i, .footer .contact > div .social-links li a, .home-template .spread-block .responsive-slide .parent .item .spread-value i, .home-template .why-hob > li .media i, .home-template .platforms .tab-content .tab-pane figcaption header h3 i, .home-template .platforms .nav-tabs li a i, .home-template .products ul li .media-left > i, .about-template .icon-list span i, .forex-template .icon-list span i, .forex-template .media-list .media-left i, .forex-template .table-pricing .pricing > footer a i, .forex-template .spread-section .nav-tabs li i.pairs {
  display: inline-block;
  background: url("../../img/sprite.png") transparent no-repeat; }

.dropdown-menu {
  border-radius: 0;
  padding: 0;
  border-color: #dbdbdd; }
  .dropdown-menu li a {
    color: #2a2c31;
    border-bottom: 1px solid #e8e8e9;
    padding: 10px; }
  .dropdown-menu::after, .dropdown-menu::before {
    bottom: 100%;
    left: 10%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none; }
  .dropdown-menu::after {
    border-color: rgba(136, 183, 213, 0);
    border-bottom-color: #fff;
    border-width: 6px;
    margin-left: -6px; }
  .dropdown-menu::before {
    border-color: rgba(194, 225, 245, 0);
    border-bottom-color: #e8e8e9;
    border-width: 8px;
    margin-left: -8px; }

.slick-arrow {
  border: 0;
  overflow: hidden;
  background: none;
  color: #d5cbaa;
  font-size: 0;
  text-shadow: #2a2c31;
  opacity: 1;
  filter: alpha(opacity=100);
  width: 45px;
  height: 35px;
  position: absolute;
  bottom: auto;
  top: 50%;
  margin-top: -15px; }
  .slick-arrow:focus {
    outline: 0; }
  .slick-arrow::before {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size: 24px;
    font-size: 1.5rem;
    position: relative;
    top: -5px; }
  .slick-arrow.slick-prev {
    z-index: 1;
    left: -5px; }
    .slick-arrow.slick-prev::before {
      right: 11px;
      content: "\e079"; }
  .slick-arrow.slick-next {
    left: auto;
    right: -15px; }
    .slick-arrow.slick-next::before {
      content: "\e080";
      content: "\e080"; }
  .slick-arrow:hover {
    color: #737479; }
  .slick-arrow.slick-disabled {
    color: #737479;
    cursor: default;
    opacity: 0;
    filter: alpha(opacity=0); }

.nav-tabs > li {
  margin-left: -2px; }
  .nav-tabs > li > a {
    min-height: 39px;
    font-size: 18px;
    font-size: 1.125rem;
    color: #2a2c31;
    border-radius: 0;
    background: none;
    border-width: 0;
    border-bottom-width: 2px;
    border-color: transparent;
    padding: 5px 10px; }
    .nav-tabs > li > a:hover {
      background: none;
      color: #887d5a;
      border-color: #a1946a; }
  .nav-tabs > li.active > a,
  .nav-tabs > li.active > a:hover,
  .nav-tabs > li.active > a:active,
  .nav-tabs > li.active > a:focus {
    background: none;
    color: #887d5a;
    border-color: #a1946a;
    border-width: 0;
    border-bottom-width: 2px; }

.table thead tr th {
  font-weight: normal;
  color: #1d1d1d;
  border-bottom-color: #f3f2f0;
  padding: 20px 14px;
  font-size: 15px;
  font-size: 0.9375rem;
  line-height: 14px; }
.table tbody tr td {
  border-top-color: #f3f2f0;
  font-size: 15px;
  font-size: 0.9375rem;
  color: #000;
  padding: 16px 10px;
  line-height: 14px; }

/*select 2*/
.select2-container .select2-selection--single {
  height: 44px; }

.select2-dropdown {
  border-radius: 0;
  border-color: #ebe9e4; }

.select2-container--default .select2-results__option--highlighted[aria-selected] {
  background: white;
  color: #2a2c31;
  border-color: #ebe9e4; }

.select2-container--default .select2-search--dropdown .select2-search__field {
  border-color: #ebe9e4; }

.select2-container--default .select2-results__option[aria-selected="true"] {
  background: white;
  color: #2a2c31; }

.select2-container--default li {
  border-bottom: 1px solid #ebe9e4 !important;
  font-size: 16px;
  font-size: 1rem; }

.select2-container--default li:hover {
  background: white !important;
  color: #2a2c31; }

span:focus {
  outline: 0 !important; }

.select2-container--default .select2-selection--single .select2-selection__arrow {
  height: 35px;
  width: 35px;
  text-align: center;
  border-left: 1px solid #ebe9e4; }
  .select2-container--default .select2-selection--single .select2-selection__arrow b {
    border-color: #d5cbaa transparent transparent transparent;
    border-width: 5px 6px 0 6px;
    margin-top: -2px;
    margin-left: -6px; }

.select2-container--default.select2-container--open .select2-selection--single .select2-selection__arrow b {
  border-color: transparent transparent #d5cbaa transparent;
  border-width: 0 6px 5px 6px; }

.select2-container--default .select2-selection--single .select2-selection__rendered {
  line-height: 34px;
  font-size: 16px;
  font-size: 1rem; }

/* LAYOUTS - page layout styles */
.navbar-brand, .nav-is-fixed .cd-main-header .navbar-brand {
  height: auto;
  padding-top: 13px;
  margin-right: 10px; }
  .navbar-brand img, .nav-is-fixed .cd-main-header .navbar-brand img {
    max-width: 206px; }

body > header {
  z-index: 4;
  position: relative; }
  body > header .navbar-default {
    border-width: 0;
    border-radius: 0;
    height: 75px;
    margin: 0; }
    @media (min-width: 992px) {
      body > header .navbar-default {
        background: rgba(7, 9, 14, 0.8); } }
    body > header .navbar-default .navbar-nav {
      margin-top: 19px; }
      body > header .navbar-default .navbar-nav .open > a {
        background: transparent; }
        body > header .navbar-default .navbar-nav .open > a:focus, body > header .navbar-default .navbar-nav .open > a:hover, body > header .navbar-default .navbar-nav .open > a:focus:hover {
          background: transparent; }
    body > header .navbar-default .navbar-right {
      margin-top: 20px;
      margin-right: 0; }
      body > header .navbar-default .navbar-right li .btn {
        padding: 5px 10px;
        font-size: 14px;
        font-size: 0.875rem;
        line-height: 20px;
        margin-right: 10px;
        height: auto;
        text-transform: uppercase;
        letter-spacing: 0.5px;
        min-height: 0; }
        body > header .navbar-default .navbar-right li .btn:hover {
          opacity: 0.8;
          filter: alpha(opacity=80); }
      body > header .navbar-default .navbar-right li .btn-default {
        color: #d5cbaa;
        border-width: 1px; }
        body > header .navbar-default .navbar-right li .btn-default:hover, body > header .navbar-default .navbar-right li .btn-default:focus {
          color: #d5cbaa; }
      body > header .navbar-default .navbar-right li .btn-primary {
        color: #2a2c31;
        border-color: #d5cbaa;
        background: #d5cbaa;
        border-width: 1px; }
        body > header .navbar-default .navbar-right li .btn-primary:hover {
          background: #d5cbaa;
          color: #2a2c31; }
      body > header .navbar-default .navbar-right li.lang > .dropdown-menu {
        margin-top: 26px; }
        body > header .navbar-default .navbar-right li.lang > .dropdown-menu li a {
          padding: 10px;
          color: #2a2c31;
          font-size: 12px;
          font-size: 0.75rem; }
          body > header .navbar-default .navbar-right li.lang > .dropdown-menu li a i {
            position: relative;
            top: 1px;
            margin-right: 5px; }
        body > header .navbar-default .navbar-right li.lang > .dropdown-menu li.active a {
          color: #887d5a;
          background: #f4f4f8; }
        body > header .navbar-default .navbar-right li.lang > .dropdown-menu::after, body > header .navbar-default .navbar-right li.lang > .dropdown-menu::before {
          left: auto;
          right: 12%; }
      body > header .navbar-default .navbar-right li.lang a {
        padding-top: 9px;
        padding-bottom: 0;
        color: #d5cbaa; }
      body > header .navbar-default .navbar-right li.lang .caret {
        border-color: #d5cbaa;
        border-top: 6px dashed;
        border-right: 6px solid transparent;
        border-left: 6px solid transparent;
        opacity: 0.8;
        filter: alpha(opacity=80); }
      body > header .navbar-default .navbar-right li.lang i {
        width: 21px;
        height: 13px; }
        body > header .navbar-default .navbar-right li.lang i.en {
          background-position: -349px -215px; }
        body > header .navbar-default .navbar-right li.lang i.ar {
          background-position: -368px -35px; }
      body > header .navbar-default .navbar-right li:last-child a {
        padding-right: 0; }
  body > header .main-nav {
    background: rgba(57, 58, 62, 0.7);
    height: 55px;
    border: 1px solid rgba(217, 207, 169, 0.25);
    border-right-width: 0;
    border-left-width: 0; }
    @media (max-width: 1170px) {
      body > header .main-nav {
        border-width: 0;
        background: rgba(57, 58, 62, 0);
        height: 75px; } }
    body > header .main-nav .nav-tabs {
      border-bottom-width: 0;
      text-align: center;
      width: 100%; }
      body > header .main-nav .nav-tabs > li {
        float: none;
        display: inline-block;
        padding: 10px 15px 10px 0; }
        body > header .main-nav .nav-tabs > li > a {
          border-radius: 0;
          color: #d9cea8;
          border-width: 0;
          font-size: 17px;
          font-size: 1.0625rem;
          font-family: "font-light", Helvetica, Arial, sans-serif;
          padding: 5px 10px;
          display: inline-block;
          min-height: 0; }
          body > header .main-nav .nav-tabs > li > a span {
            width: 1px;
            height: 18px;
            background: #887d5a;
            opacity: 0.4;
            filter: alpha(opacity=40);
            position: absolute;
            right: -13px;
            display: inline-block;
            top: 9px;
            margin: 0 6px; }
          body > header .main-nav .nav-tabs > li > a:hover, body > header .main-nav .nav-tabs > li > a:focus {
            background: rgba(213, 203, 170, 0.1); }
        body > header .main-nav .nav-tabs > li .dropdown-menu {
          background: rgba(57, 58, 62, 0.7);
          border: 1px solid rgba(217, 207, 169, 0.25);
          border-top-color: #393a3e;
          margin-top: 0;
          -webkit-box-shadow: 0 11px 12px rgba(0, 0, 0, 0.175);
          box-shadow: 0 11px 12px rgba(0, 0, 0, 0.175); }
          body > header .main-nav .nav-tabs > li .dropdown-menu > li > a {
            color: #d9cfa9;
            border-color: rgba(0, 0, 0, 0.1);
            font-size: 15px;
            font-size: 0.9375rem;
            font-family: "font-light", Helvetica, Arial, sans-serif; }
            body > header .main-nav .nav-tabs > li .dropdown-menu > li > a:hover {
              color: #2a2c31; }
          body > header .main-nav .nav-tabs > li .dropdown-menu::after {
            border-width: 0; }
          body > header .main-nav .nav-tabs > li .dropdown-menu::before {
            border-width: 0; }
        body > header .main-nav .nav-tabs > li.active > a {
          background: rgba(213, 203, 170, 0.1);
          border-width: 0;
          color: #d9cea8; }
          body > header .main-nav .nav-tabs > li.active > a:hover, body > header .main-nav .nav-tabs > li.active > a:focus, body > header .main-nav .nav-tabs > li.active > a:focus:hover {
            background: rgba(213, 203, 170, 0.1);
            border-width: 0;
            color: #d9cea8; }
        body > header .main-nav .nav-tabs > li.open > a {
          background: rgba(213, 203, 170, 0.1);
          border-width: 0;
          color: #d9cea8; }
          body > header .main-nav .nav-tabs > li.open > a:hover, body > header .main-nav .nav-tabs > li.open > a:focus, body > header .main-nav .nav-tabs > li.open > a:focus:hover {
            background: rgba(213, 203, 170, 0.1);
            border-width: 0;
            color: #d9cea8; }
        body > header .main-nav .nav-tabs > li:hover .dropdown-menu {
          display: block; }
        body > header .main-nav .nav-tabs > li:last-child a {
          padding-right: 0;
          margin-left: 0; }
      body > header .main-nav .nav-tabs .brand {
        width: 200px;
        display: none;
        position: relative;
        top: -9px;
        margin-right: 0 !important; }
        body > header .main-nav .nav-tabs .brand img {
          max-width: 100%;
          height: auto; }
  @media (min-width: 1170px) {
    body > header .cd-primary-nav {
      padding-right: 0; } }
  body > header .cd-primary-nav > li a {
    text-transform: uppercase; }
  body > header .cd-primary-nav > li a.selected {
    box-shadow: none; }
  @media (min-width: 1170px) {
    body > header .cd-primary-nav > li.has-children a {
      padding-right: 10px !important;
      padding-left: 10px !important; }
      body > header .cd-primary-nav > li.has-children a::before {
        display: none; }
      body > header .cd-primary-nav > li.has-children a::after {
        display: none; } }
  body > header .cd-primary-nav > li ul.cd-secondary-nav {
    opacity: 0;
    filter: alpha(opacity=0);
    visibility: hidden !important;
    display: none !important;
    top: 53px;
    background: rgba(57, 58, 62, 0.7);
    border: 1px solid rgba(217, 207, 169, 0.25);
    border-top-color: #393a3e;
    box-shadow: none;
    width: auto;
    min-width: 100%;
    padding: 0;
    right: auto;
    left: 0;
    -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
    -moz-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175); }
    body > header .cd-primary-nav > li ul.cd-secondary-nav > li {
      height: auto;
      border-width: 0; }
      body > header .cd-primary-nav > li ul.cd-secondary-nav > li a {
        margin: 0;
        font-weight: normal;
        color: #d9cfa9;
        font-size: 15px;
        font-size: 0.9375rem;
        font-family: "font-light", Helvetica, Arial, sans-serif;
        text-align: left;
        padding: 5px 10px;
        font-size: 15px;
        font-size: 0.9375rem;
        font-family: "font-light", Helvetica, Arial, sans-serif;
        height: auto;
        border-bottom: 1px solid rgba(0, 0, 0, 0.2); }
        body > header .cd-primary-nav > li ul.cd-secondary-nav > li a:hover {
          color: #2a2c31;
          background: #fff; }
      body > header .cd-primary-nav > li ul.cd-secondary-nav > li.active a {
        background: rgba(213, 203, 170, 0.1);
        color: rgba(217, 207, 169, 0.8); }
        body > header .cd-primary-nav > li ul.cd-secondary-nav > li.active a:hover, body > header .cd-primary-nav > li ul.cd-secondary-nav > li.active a:focus, body > header .cd-primary-nav > li ul.cd-secondary-nav > li.active a:hover:focus {
          background: rgba(213, 203, 170, 0.1);
          color: rgba(217, 207, 169, 0.8); }
  @media (max-width: 1170px) {
    body > header .cd-primary-nav > li {
      display: none; } }
  body > header .cd-primary-nav > li:hover ul.cd-secondary-nav {
    opacity: 1;
    filter: alpha(opacity=100);
    visibility: visible !important;
    display: block !important; }

/*nav top on scroll*/
.nav-is-fixed .cd-main-header {
  z-index: 3;
  transition: 0.3s;
  -webkit-transition: 0.3s; }
  @media (min-width: 1170px) {
    .nav-is-fixed .cd-main-header {
      top: 75px; }
      .nav-is-fixed .cd-main-header .navbar-header {
        display: none; } }
  .nav-is-fixed .cd-main-header .navbar-brand {
    display: none; }
    @media (max-width: 1170px) {
      .nav-is-fixed .cd-main-header .navbar-brand {
        display: block; } }
  .nav-is-fixed .cd-main-header .cd-header-buttons {
    top: 12px;
    right: 20px; }
    @media (min-width: 1170px) {
      .nav-is-fixed .cd-main-header .cd-header-buttons {
        display: none; } }
    .nav-is-fixed .cd-main-header .cd-header-buttons .cd-nav-trigger {
      width: 44px;
      height: 38px;
      float: right; }
      .nav-is-fixed .cd-main-header .cd-header-buttons .cd-nav-trigger span {
        right: 10px;
        left: auto; }
      .nav-is-fixed .cd-main-header .cd-header-buttons .cd-nav-trigger span,
      .nav-is-fixed .cd-main-header .cd-header-buttons .cd-nav-trigger span::before,
      .nav-is-fixed .cd-main-header .cd-header-buttons .cd-nav-trigger span::after {
        background: #d5cbaa; }
      .nav-is-fixed .cd-main-header .cd-header-buttons .cd-nav-trigger.nav-is-visible span {
        background: transparent; }
        .nav-is-fixed .cd-main-header .cd-header-buttons .cd-nav-trigger.nav-is-visible span::before, .nav-is-fixed .cd-main-header .cd-header-buttons .cd-nav-trigger.nav-is-visible span::after {
          background: #d5cbaa; }
  .nav-is-fixed .cd-main-header.fixed-theme {
    z-index: 5; }
    @media (min-width: 1170px) {
      .nav-is-fixed .cd-main-header.fixed-theme {
        top: 0; } }
    .nav-is-fixed .cd-main-header.fixed-theme .main-nav {
      background: #393a3e; }
      @media (min-width: 1170px) {
        .nav-is-fixed .cd-main-header.fixed-theme .main-nav {
          height: 71px !important; } }
      .nav-is-fixed .cd-main-header.fixed-theme .main-nav .nav-tabs {
        text-align: right; }
        .nav-is-fixed .cd-main-header.fixed-theme .main-nav .nav-tabs > li {
          padding: 20px 0; }
          .nav-is-fixed .cd-main-header.fixed-theme .main-nav .nav-tabs > li > a {
            margin-right: 10px;
            font-size: 14px;
            font-size: 0.875rem; }
            .nav-is-fixed .cd-main-header.fixed-theme .main-nav .nav-tabs > li > a > span {
              top: 6px; }
          .nav-is-fixed .cd-main-header.fixed-theme .main-nav .nav-tabs > li:first-child {
            float: left;
            padding-bottom: 0; }
          .nav-is-fixed .cd-main-header.fixed-theme .main-nav .nav-tabs > li .dropdown-menu {
            background: #393a3e;
            margin-top: 4px; }
            .nav-is-fixed .cd-main-header.fixed-theme .main-nav .nav-tabs > li .dropdown-menu::after {
              border-bottom-color: #494949; }
            .nav-is-fixed .cd-main-header.fixed-theme .main-nav .nav-tabs > li .dropdown-menu::before {
              border-bottom-color: #444; }
          .nav-is-fixed .cd-main-header.fixed-theme .main-nav .nav-tabs > li ul.cd-secondary-nav {
            top: 69px;
            background: #393a3e; }
      .nav-is-fixed .cd-main-header.fixed-theme .main-nav .brand {
        display: block; }
        .nav-is-fixed .cd-main-header.fixed-theme .main-nav .brand:hover, .nav-is-fixed .cd-main-header.fixed-theme .main-nav .brand:focus, .nav-is-fixed .cd-main-header.fixed-theme .main-nav .brand:focus:hover {
          background: transparent; }

.has-children > a::before, .has-children > a::after {
  right: 20px;
  left: auto; }

.hidden-nav-sm {
  display: none; }
  @media (min-width: 1170px) {
    .hidden-nav-sm {
      display: block; } }

.my-account {
  display: none !important; }

body > .cd-nav .cd-primary-nav {
  background: #1a1b1d;
  -webkit-box-shadow: inset 1.5em 0 1.5em -0.75em rgba(0, 0, 0, 0.25);
  -moz-box-shadow: inset 1.5em 0 1.5em -0.75em rgba(0, 0, 0, 0.25);
  box-shadow: inset 1.5em 0 1.5em -0.75em rgba(0, 0, 0, 0.25);
  padding: 0 20px;
  overflow-x: hidden; }
  body > .cd-nav .cd-primary-nav .cd-secondary-nav {
    background: transparent;
    padding: 20px;
    width: 100%; }
  @media (max-width: 1170px) {
    body > .cd-nav .cd-primary-nav .brand {
      display: none; } }
  body > .cd-nav .cd-primary-nav li {
    display: block;
    float: none;
    border-radius: 0; }
    body > .cd-nav .cd-primary-nav li a {
      display: block;
      color: #d5cbaa;
      border-width: 0;
      border-bottom-width: 1px;
      border-color: #0e0e0f;
      font-size: 17px;
      font-size: 1.0625rem;
      font-family: "font-light", Helvetica, Arial, sans-serif;
      padding: 15px; }
      body > .cd-nav .cd-primary-nav li a.my-account {
        border-width: 0;
        margin: 20px 10px 50px 10px;
        font-size: 27px;
        font-size: 1.6875rem;
        display: block !important; }
        body > .cd-nav .cd-primary-nav li a.my-account i {
          width: 73px;
          height: 73px;
          background-position: -63px -432px;
          top: 22px;
          margin-right: 10px; }
      body > .cd-nav .cd-primary-nav li a:hover, body > .cd-nav .cd-primary-nav li a:focus, body > .cd-nav .cd-primary-nav li a:focus:hover {
        background: transparent;
        opacity: 0.7;
        filter: alpha(opacity=70); }
    body > .cd-nav .cd-primary-nav li.go-back a {
      padding-left: 40px;
      opacity: 0.5;
      filter: alpha(opacity=50); }
    body > .cd-nav .cd-primary-nav li.open-account {
      padding-top: 30px;
      margin-left: -20px; }
      body > .cd-nav .cd-primary-nav li.open-account a {
        border-bottom: 0; }
      body > .cd-nav .cd-primary-nav li.open-account div:first-child a {
        border-bottom: 1px solid #3f351f; }
    body > .cd-nav .cd-primary-nav li.active > a {
      border-radius: 0;
      border-width: 0;
      background: rgba(213, 203, 170, 0.1); }
    body > .cd-nav .cd-primary-nav li.active ul li.active a {
      border-radius: 0;
      border-width: 0;
      background: rgba(213, 203, 170, 0.1); }

.footer {
  margin-top: -590px;
  background: #333437;
  position: relative; }
  @media (min-width: 1170px) {
    .footer {
      z-index: 2; } }
  @media screen and (max-width: 767px) {
    .footer {
      margin-top: -103px; } }
  .footer .contact {
    padding-top: 35px;
    padding-bottom: 35px; }
    .footer .contact > div {
      padding-top: 6px;
      padding-bottom: 6px;
      color: #d5cbaa;
      font-size: 13px;
      font-size: 0.8125rem; }
      .footer .contact > div:nth-child(2) {
        border-left: 1px solid rgba(136, 125, 90, 0.4);
        border-right: 1px solid rgba(136, 125, 90, 0.4); }
      .footer .contact > div > header h4 {
        color: #887d5a;
        text-transform: uppercase;
        margin-top: 0; }
      .footer .contact > div ul li {
        position: relative;
        padding-left: 27px;
        margin-bottom: 15px; }
        .footer .contact > div ul li i {
          position: absolute;
          left: 0; }
          .footer .contact > div ul li i.location {
            width: 17px;
            height: 25px;
            background-position: -363px 0;
            top: 5px; }
          .footer .contact > div ul li i.mail {
            width: 18px;
            height: 14px;
            background-position: -349px -35px;
            top: 1px; }
          .footer .contact > div ul li i.phone {
            width: 22px;
            height: 25px;
            background-position: -349px -229px; }
        .footer .contact > div ul li .phone + span {
          position: relative;
          top: 2px; }
        .footer .contact > div ul li a {
          color: #d5cbaa; }
          .footer .contact > div ul li a:hover {
            opacity: 0.5;
            filter: alpha(opacity=50); }
      .footer .contact > div .social-links {
        margin-top: 37px; }
        .footer .contact > div .social-links li {
          padding: 0 5px; }
          .footer .contact > div .social-links li a {
            width: 40px;
            height: 40px;
            display: block;
            background-color: #fff; }
            .footer .contact > div .social-links li a.facebook {
              background-position: -349px -50px; }
            .footer .contact > div .social-links li a.twitter {
              background-position: -349px -91px; }
            .footer .contact > div .social-links li a.live-chat {
              background-position: -349px -133px; }
            .footer .contact > div .social-links li a.youtube {
              background-position: -349px -174px; }
    .footer .contact .brand {
      display: block;
      max-width: 320px;
      margin-top: 40px; }
      .footer .contact .brand img {
        height: auto;
        max-width: 100%;
        display: block; }
  .footer .site-map {
    background: #393a3e;
    padding: 40px 0; }
    .footer .site-map .col-md-12 {
      display: flex; }
      .footer .site-map .col-md-12 > div {
        display: inline-block;
        vertical-align: top;
        padding: 0 21px 0 0; }
    .footer .site-map header h5 {
      margin: 0 0 20px;
      color: #887d5a;
      font-size: 17px;
      font-size: 1.0625rem; }
    .footer .site-map ul li a {
      color: #d5cbaa;
      font-size: 12px;
      font-size: 0.75rem;
      text-transform: uppercase; }
  .footer .risk-warning {
    padding: 40px 15px; }
    .footer .risk-warning article h6 {
      color: #887d5a;
      font-size: 14px;
      font-size: 0.875rem;
      text-transform: uppercase; }
    .footer .risk-warning article p {
      color: #736f62;
      font-size: 13px;
      font-size: 0.8125rem;
      line-height: 21px; }
    .footer .risk-warning article.copy-right p {
      display: inline-block;
      font-size: 16px;
      font-size: 1rem;
      border-top: 1px solid rgba(115, 111, 98, 0.4);
      padding-top: 15px;
      margin-top: 30px;
      margin-bottom: 0; }
      @media screen and (max-width: 767px) {
        .footer .risk-warning article.copy-right p {
          margin-top: 15px; } }
    .footer .risk-warning article.risk-links {
      padding-top: 15px; }
      .footer .risk-warning article.risk-links ul {
        margin: 0; }
        .footer .risk-warning article.risk-links ul li a {
          font-size: 15px;
          font-size: 0.9375rem; }

/* STATE - page of site*/
.home-template .section {
  overflow: hidden;
  background: #f7f6f2; }
.home-template .hero, .home-template .hero-inner {
  display: block;
  width: 100%;
  margin: 0 auto;
  background: url("../../img/cover-img-lg.jpg") center center no-repeat;
  margin-top: -130px;
  text-align: center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; }
  @media screen and (max-width: 767px) {
    .home-template .hero, .home-template .hero-inner {
      background: url("../../img/cover-img-xs.jpg") center center no-repeat;
      height: 510px;
      padding: 140px 15px 0;
      margin-top: 0;
      text-align: left; } }
  @media screen and (max-width: 480px) {
    .home-template .hero, .home-template .hero-inner {
      background: url("../../img/cover-img-xxs.jpg") center center no-repeat; } }
  @media (min-width: 768px) {
    .home-template .hero, .home-template .hero-inner {
      padding-top: 350px;
      height: 780px; } }
  @media (min-width: 992px) {
    .home-template .hero, .home-template .hero-inner {
      padding-top: 350px;
      height: 916px; } }
  .home-template .hero header > h1, .home-template .hero-inner header > h1 {
    color: #887d5a;
    margin: 0;
    text-shadow: 0px 3px 7px rgba(0, 0, 0, 0.35);
    font-family: "font-reg", Helvetica, Arial, sans-serif; }
    @media (min-width: 768px) {
      .home-template .hero header > h1, .home-template .hero-inner header > h1 {
        font-size: 60px;
        font-size: 3.75rem; } }
    @media (min-width: 992px) {
      .home-template .hero header > h1, .home-template .hero-inner header > h1 {
        font-size: 75px;
        font-size: 4.6875rem; } }
    @media screen and (max-width: 767px) {
      .home-template .hero header > h1, .home-template .hero-inner header > h1 {
        display: inline-block;
        background: #d5cbaa;
        color: #2a2c31;
        font-family: "font-light", Helvetica, Arial, sans-serif;
        font-size: 22px;
        font-size: 1.375rem;
        padding: 5px 10px;
        margin-bottom: 25px; } }
  .home-template .hero header > p, .home-template .hero-inner header > p {
    color: #d5cbaa;
    text-transform: uppercase;
    font-family: "font-light", Helvetica, Arial, sans-serif;
    letter-spacing: 2px; }
    @media (min-width: 768px) {
      .home-template .hero header > p, .home-template .hero-inner header > p {
        font-size: 25px;
        font-size: 1.5625rem;
        margin: 20px auto 40px; }
        .home-template .hero header > p span, .home-template .hero-inner header > p span {
          display: inline-block; } }
    @media (min-width: 992px) {
      .home-template .hero header > p, .home-template .hero-inner header > p {
        font-size: 28px;
        font-size: 1.75rem;
        margin: 20px auto 75px; }
        .home-template .hero header > p span:first-child, .home-template .hero-inner header > p span:first-child {
          display: block; } }
    @media screen and (max-width: 767px) {
      .home-template .hero header > p, .home-template .hero-inner header > p {
        font-size: 30px;
        font-size: 1.875rem; }
        .home-template .hero header > p span, .home-template .hero-inner header > p span {
          opacity: 0.7;
          filter: alpha(opacity=70);
          display: block;
          font-size: 25px;
          font-size: 1.5625rem; } }
  .home-template .hero .btn-group .btn-default, .home-template .hero-inner .btn-group .btn-default {
    padding: 20px;
    height: auto;
    line-height: 20px;
    background: rgba(57, 58, 62, 0.6);
    border-radius: 0 !important;
    text-transform: uppercase;
    border-color: #887d5a;
    -webkit-animation-delay: 0.2s;
    /* Chrome, Safari, Opera */
    animation-delay: 0.2s;
    letter-spacing: 2px;
    font-family: "font-med", Helvetica, Arial, sans-serif;
    font-size: 25px;
    font-size: 1.5625rem; }
    .home-template .hero .btn-group .btn-default:hover, .home-template .hero-inner .btn-group .btn-default:hover {
      z-index: 2;
      background: rgba(57, 58, 62, 0.4);
      color: #887d5a; }
  .home-template .hero .btn-group a + a, .home-template .hero-inner .btn-group a + a {
    margin-left: 40px; }
  .home-template .hero .open-account, .home-template .hero-inner .open-account {
    margin-left: -30px;
    margin-top: 30px; }
    .home-template .hero .open-account a, .home-template .hero-inner .open-account a {
      padding-left: 30px;
      min-width: 240px; }
.home-template .spread-block {
  background: #393a3e;
  text-align: center;
  height: 100px;
  overflow: hidden; }
  .home-template .spread-block .responsive-slide {
    margin: 31px 0 0;
    padding: 0 10px;
    -webkit-animation-delay: 0.5s;
    /* Chrome, Safari, Opera */
    animation-delay: 0.5s; }
    .home-template .spread-block .responsive-slide .parent {
      text-align: center;
      padding: 0 20px 0 0;
      border-right: 1px solid #29292c;
      margin-right: 18px; }
      @media screen and (max-width: 480px) {
        .home-template .spread-block .responsive-slide .parent {
          padding: 0 10px 0;
          margin-right: 0; } }
      @media screen and (max-width: 480px) {
        .home-template .spread-block .responsive-slide .parent:nth-child(even) {
          border-right-width: 0; } }
      .home-template .spread-block .responsive-slide .parent .item {
        position: relative;
        text-align: left;
        display: inline-block;
        padding-left: 23px; }
        @media screen and (max-width: 480px) {
          .home-template .spread-block .responsive-slide .parent .item {
            padding-left: 0; } }
        .home-template .spread-block .responsive-slide .parent .item div {
          display: inline-block; }
        .home-template .spread-block .responsive-slide .parent .item > span {
          position: absolute;
          color: #c2c2c2;
          font-size: 13px;
          font-size: 0.8125rem;
          left: 0;
          top: 1px; }
          @media screen and (max-width: 480px) {
            .home-template .spread-block .responsive-slide .parent .item > span {
              display: none; } }
        .home-template .spread-block .responsive-slide .parent .item .spread-value {
          color: #d5cbaa;
          font-family: "font-bold", Helvetica, Arial, sans-serif;
          font-size: 45px;
          font-size: 2.8125rem;
          letter-spacing: -1px;
          line-height: 35px; }
          @media screen and (max-width: 480px) {
            .home-template .spread-block .responsive-slide .parent .item .spread-value {
              font-size: 30px;
              font-size: 1.875rem;
              position: relative;
              top: -5px; } }
          .home-template .spread-block .responsive-slide .parent .item .spread-value i {
            width: 14px;
            height: 17px;
            position: relative;
            top: -2px;
            right: -9px; }
            @media screen and (max-width: 480px) {
              .home-template .spread-block .responsive-slide .parent .item .spread-value i {
                right: 0; } }
            .home-template .spread-block .responsive-slide .parent .item .spread-value i.up {
              background-position: -348px 0; }
            .home-template .spread-block .responsive-slide .parent .item .spread-value i.down {
              background-position: -348px -18px; }
            .home-template .spread-block .responsive-slide .parent .item .spread-value i.no-change {
              background: 1px 1px; }
        .home-template .spread-block .responsive-slide .parent .item .spread-info span {
          display: block; }
          .home-template .spread-block .responsive-slide .parent .item .spread-info span:first-child {
            color: #d5cbaa;
            opacity: 0.8;
            filter: alpha(opacity=80); }
          .home-template .spread-block .responsive-slide .parent .item .spread-info span.hidden-xxs {
            color: #847d65; }
            @media screen and (max-width: 480px) {
              .home-template .spread-block .responsive-slide .parent .item .spread-info span.hidden-xxs {
                display: none; } }
          .home-template .spread-block .responsive-slide .parent .item .spread-info span.visible-xxs {
            display: none; }
            @media screen and (max-width: 480px) {
              .home-template .spread-block .responsive-slide .parent .item .spread-info span.visible-xxs {
                display: block;
                color: #c2c2c2;
                font-size: 13px;
                font-size: 0.8125rem; } }
      .home-template .spread-block .responsive-slide .parent:last-child {
        border-right-width: 0;
        margin-right: 0; }
        .home-template .spread-block .responsive-slide .parent:last-child .item {
          padding-right: 0; }
.home-template .heading {
  text-align: center;
  text-transform: uppercase;
  color: #393a3e; }
  .home-template .heading h2 {
    font-size: 43px;
    font-size: 2.6875rem;
    margin: 0;
    font-family: "font-med", Helvetica, Arial, sans-serif; }
  .home-template .heading h2 + p {
    line-height: 42px;
    font-size: 22px;
    font-size: 1.375rem;
    margin-top: 35px; }
  .home-template .heading h2 + span {
    width: 80px;
    height: 4px;
    background: #887d5a;
    margin: 0 auto;
    display: inline-block;
    margin: 25px 0 75px; }
    @media screen and (max-width: 767px) {
      .home-template .heading h2 + span {
        margin-bottom: 25px; } }
.home-template .why-hob {
  margin-top: 30px;
  margin-bottom: 0; }
  .home-template .why-hob > li {
    padding: 25px 0 20px; }
    @media (min-width: 768px) {
      .home-template .why-hob > li {
        padding: 25px 15px 20px;
        border-bottom: 1px solid #edebe4; } }
    @media (min-width: 992px) {
      .home-template .why-hob > li {
        padding: 25px 0 20px;
        border-bottom-width: 0; } }
    @media screen and (max-width: 767px) {
      .home-template .why-hob > li {
        padding: 25px 15px 20px;
        border-bottom: 1px solid #edebe4; } }
    .home-template .why-hob > li .media .media-left {
      height: 75px;
      vertical-align: middle;
      padding-right: 10px; }
    .home-template .why-hob > li .media i {
      width: 62px; }
      .home-template .why-hob > li .media i.bank {
        height: 56px;
        background-position: -1px -360px; }
      .home-template .why-hob > li .media i.fca {
        height: 39px;
        background-position: -1px -417px; }
      .home-template .why-hob > li .media i.spreads {
        height: 56px;
        background-position: -1px -237px; }
      .home-template .why-hob > li .media i.seg-fund {
        height: 65px;
        background-position: -1px -294px; }
      .home-template .why-hob > li .media i.latency-exec {
        height: 64px;
        background-position: -1px -1px; }
      .home-template .why-hob > li .media i.markups {
        height: 60px;
        background-position: -1px -67px; }
      .home-template .why-hob > li .media i.deal-desk {
        height: 56px;
        background-position: -1px -128px; }
      .home-template .why-hob > li .media i.platforms {
        height: 51px;
        background-position: -1px -185px; }
    .home-template .why-hob > li .media .media-body {
      vertical-align: middle; }
      .home-template .why-hob > li .media .media-body .media-heading {
        font-size: 28px;
        font-size: 1.75rem;
        font-family: "font-reg", Helvetica, Arial, sans-serif; }
    @media (min-width: 768px) {
      .home-template .why-hob > li:nth-child(even) {
        padding-left: 15px; } }
    @media (min-width: 992px) {
      .home-template .why-hob > li:nth-child(even) {
        padding-left: 30px; } }
    @media (min-width: 768px) {
      .home-template .why-hob > li:nth-child(8) {
        border-bottom-width: 0;
        padding-bottom: 0; } }
    @media screen and (max-width: 767px) {
      .home-template .why-hob > li:nth-child(8) {
        border-bottom-width: 0;
        padding-bottom: 0; } }
.home-template .platforms {
  background: url("../../img/trading-app.jpg") center center no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  /*height: 825px;
  @include bp-xs-small{
    height: auto;
  };*/ }
  .home-template .platforms .heading h2 {
    color: #bcb394; }
  .home-template .platforms .heading h2 + span {
    background: #bcb394; }
  @media screen and (max-width: 767px) {
    .home-template .platforms .tab-content {
      padding: 30px 15px 0; } }
  .home-template .platforms .tab-content .tab-pane {
    /*min-height: 504px;
    @include bp-small{
      padding-bottom: 0;
    };
    @include bp-medium{
      padding-bottom: 120px;
    };*/ }
    .home-template .platforms .tab-content .tab-pane figure img {
      max-width: 100%;
      height: auto; }
    @media screen and (max-width: 767px) {
      .home-template .platforms .tab-content .tab-pane figure {
        margin-bottom: 50px; } }
    .home-template .platforms .tab-content .tab-pane figcaption {
      text-transform: uppercase; }
      .home-template .platforms .tab-content .tab-pane figcaption header h3 {
        color: #d5cbaa;
        font-size: 30px;
        font-size: 1.875rem; }
        .home-template .platforms .tab-content .tab-pane figcaption header h3 i {
          width: 51px;
          height: 63px;
          background-position: -1px -457px; }
        .home-template .platforms .tab-content .tab-pane figcaption header h3 > span {
          border-bottom: 1px solid rgba(136, 125, 90, 0.4);
          padding-bottom: 17px;
          position: relative;
          top: -25px; }
          @media screen and (max-width: 480px) {
            .home-template .platforms .tab-content .tab-pane figcaption header h3 > span .hidden-xxs {
              display: none; } }
      .home-template .platforms .tab-content .tab-pane figcaption p {
        color: #9f9880;
        font-size: 22px;
        font-size: 1.375rem;
        line-height: 35px; }
      .home-template .platforms .tab-content .tab-pane figcaption footer .btn {
        font-size: 30px;
        font-size: 1.875rem;
        height: 63px;
        padding: 15px 30px;
        border-width: 0; }
  .home-template .platforms .nav-tabs {
    border-width: 0; }
    @media screen and (max-width: 767px) {
      .home-template .platforms .nav-tabs {
        padding: 30px 15px 50px; } }
    .home-template .platforms .nav-tabs li {
      padding: 0; }
      .home-template .platforms .nav-tabs li a {
        padding: 4px 0 0;
        border-width: 0;
        font-size: 30px;
        font-size: 1.875rem;
        text-transform: uppercase;
        color: #887d5a;
        border-top: 6px solid;
        border-color: #887d5a;
        border-radius: 0;
        margin: 0 5px 0 0;
        text-align: center;
        position: relative; }
        @media screen and (max-width: 767px) {
          .home-template .platforms .nav-tabs li a {
            margin: 0 0 0 0;
            border-top-width: 0;
            border-bottom: 2px solid; } }
        @media screen and (max-width: 480px) {
          .home-template .platforms .nav-tabs li a {
            font-size: 20px;
            font-size: 1.25rem; } }
        .home-template .platforms .nav-tabs li a i {
          width: 16px;
          height: 10px;
          background-position: -371px -218px;
          position: absolute;
          top: -20px;
          left: 50%;
          margin-left: -8px;
          opacity: 0;
          filter: alpha(opacity=0); }
          @media screen and (max-width: 767px) {
            .home-template .platforms .nav-tabs li a i {
              -moz-transform: scaleyX(-1);
              -webkit-transform: scaley(-1);
              -o-transform: scaley(-1);
              transform: scaley(-1);
              -ms-filter: fliph;
              /*IE*/
              filter: fliph;
              /*IE*/
              margin-top: 100px; } }
  @media screen and (max-width: 767px) and (max-width: 480px) {
    .home-template .platforms .nav-tabs li a i {
      margin-top: 85px; } }

        .home-template .platforms .nav-tabs li a span {
          background: rgba(57, 58, 62, 0.4);
          display: block;
          padding: 14px 0; }
        .home-template .platforms .nav-tabs li a:focus, .home-template .platforms .nav-tabs li a:hover, .home-template .platforms .nav-tabs li a:focus:hover {
          background: transparent;
          border-bottom-color: #bdb495;
          color: #afa585; }
      .home-template .platforms .nav-tabs li:last-child a {
        margin: 0 0 0 5px; }
        @media screen and (max-width: 767px) {
          .home-template .platforms .nav-tabs li:last-child a {
            margin: 0 0 0 0; } }
      .home-template .platforms .nav-tabs li.active a, .home-template .platforms .nav-tabs li.active:focus, .home-template .platforms .nav-tabs li.active:hover, .home-template .platforms .nav-tabs li.active:focus:hover {
        background: transparent;
        border-top-color: #bdb495;
        color: #afa585; }
        .home-template .platforms .nav-tabs li.active a i, .home-template .platforms .nav-tabs li.active:focus i, .home-template .platforms .nav-tabs li.active:hover i, .home-template .platforms .nav-tabs li.active:focus:hover i {
          opacity: 1;
          filter: alpha(opacity=100); }
        @media screen and (max-width: 767px) {
          .home-template .platforms .nav-tabs li.active a span, .home-template .platforms .nav-tabs li.active:focus span, .home-template .platforms .nav-tabs li.active:hover span, .home-template .platforms .nav-tabs li.active:focus:hover span {
            background: #f7f6f2; } }
.home-template .products {
  padding-bottom: 0; }
  @media (min-width: 768px) {
    .home-template .products ul li {
      margin-bottom: 50px; } }
  @media (min-width: 992px) {
    .home-template .products ul li {
      margin-bottom: 85px; } }
  @media screen and (max-width: 767px) {
    .home-template .products ul li {
      margin-bottom: 0;
      padding: 15px 15px 10px;
      border-bottom: 1px solid #edebe4; }
      .home-template .products ul li:last-child {
        border-bottom-width: 0; } }
  @media screen and (max-width: 767px) {
    .home-template .products ul li .media-left {
      vertical-align: middle; } }
  .home-template .products ul li .media-left > i {
    width: 143px;
    height: 143px; }
    .home-template .products ul li .media-left > i.forex {
      background-position: -62px -1px; }
    .home-template .products ul li .media-left > i.stocks {
      background-position: -62px -145px; }
    .home-template .products ul li .media-left > i.futures {
      background-position: -62px -288px; }
    .home-template .products ul li .media-left > i.metals {
      background-position: -206px -1px; }
    .home-template .products ul li .media-left > i.cfd {
      background-position: -206px -145px; }
    .home-template .products ul li .media-left > i.options {
      background-position: -206px -288px; }
  .home-template .products ul li .media-body {
    font-weight: "font-light", Helvetica, Arial, sans-serif; }
    @media screen and (max-width: 767px) {
      .home-template .products ul li .media-body {
        vertical-align: middle; } }
    .home-template .products ul li .media-body .media-heading {
      color: #393a3e;
      text-transform: uppercase;
      font-size: 28px;
      font-size: 1.75rem; }
    .home-template .products ul li .media-body p {
      font-size: 16px;
      font-size: 1rem;
      line-height: 22px;
      margin-top: 10px;
      line-height: 22px; }
    .home-template .products ul li .media-body a {
      font-size: 14px;
      font-size: 0.875rem; }

.institutional-template .hero-inner, .institutional-template .hero {
  background: url("../../img/institutional-services.jpg") center center no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; }

.about-template .hero-inner, .forex-template .hero-inner, .about-template .hero, .forex-template .hero {
  background: url("../../img/about.jpg") center center no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; }
.about-template .icon-list, .forex-template .icon-list {
  padding: 0; }
  .about-template .icon-list li, .forex-template .icon-list li {
    background: none;
    padding: 0;
    margin-bottom: 40px;
    position: relative; }
  .about-template .icon-list span, .forex-template .icon-list span {
    position: absolute;
    left: 0;
    display: inline-block;
    margin-right: 8px; }
    .about-template .icon-list span i.infrastructures, .forex-template .icon-list span i.infrastructures {
      background-position: 0 -519px;
      height: 42px;
      width: 51px; }
    .about-template .icon-list span i.liquidity, .forex-template .icon-list span i.liquidity {
      background-position: -53px -519px;
      height: 46px;
      width: 47px; }
    .about-template .icon-list span i.mission, .forex-template .icon-list span i.mission {
      background-position: -100px -519px;
      height: 44px;
      width: 43px; }
    .about-template .icon-list span i.services, .forex-template .icon-list span i.services {
      background-position: -144px -519px;
      height: 51px;
      width: 46px;
      top: -5px; }
    .about-template .icon-list span i.team, .forex-template .icon-list span i.team {
      background-position: -191px -519px;
      height: 43px;
      width: 46px; }
    .about-template .icon-list span i.market, .forex-template .icon-list span i.market {
      background-position: -238px -519px;
      height: 45px;
      width: 44px; }
    .about-template .icon-list span i.target, .forex-template .icon-list span i.target {
      background-position: -283px -519px;
      height: 46px;
      width: 45px; }
  .about-template .icon-list h4, .forex-template .icon-list h4 {
    padding-left: 60px;
    font-size: 28px;
    font-size: 1.75rem;
    line-height: 45px; }
  .about-template .icon-list p, .forex-template .icon-list p {
    padding-left: 25px; }

.forex-template .media-list {
  padding-left: 15px; }
  @media screen and (max-width: 767px) {
    .forex-template .media-list {
      padding-left: 0;
      margin: 0 -15px; } }
  .forex-template .media-list .media {
    margin-bottom: 26px; }
  .forex-template .media-list .media-left {
    padding-right: 20px; }
    @media screen and (max-width: 767px) {
      .forex-template .media-list .media-left {
        padding-right: 10px; } }
    .forex-template .media-list .media-left i {
      width: 70px;
      height: 70px; }
      .forex-template .media-list .media-left i.pairs {
        background-position: 0 -573px; }
      .forex-template .media-list .media-left i.interest {
        background-position: -71px -573px; }
      .forex-template .media-list .media-left i.banks {
        background-position: -141px -573px; }
      .forex-template .media-list .media-left i.spread {
        background-position: -210px -573px; }
      .forex-template .media-list .media-left i.quality {
        background-position: -282px -573px; }
  .forex-template .media-list .media-body {
    vertical-align: middle; }
    .forex-template .media-list .media-body .media-heading {
      font-size: 28px;
      font-size: 1.75rem;
      line-height: 1.5; }
      @media screen and (max-width: 767px) {
        .forex-template .media-list .media-body .media-heading {
          font-size: 20px;
          font-size: 1.25rem; } }
.forex-template .table-pricing {
  padding-top: 60px;
  margin-top: -60px;
  padding-bottom: 40px;
  border-top: 1px solid #887d5a;
  border-bottom: 1px solid #d5cbaa; }
  @media (min-width: 768px) {
    .forex-template .table-pricing {
      background: none; } }
  @media (min-width: 992px) {
    .forex-template .table-pricing {
      background: url("../../img/table-pricing-bg.jpg") center center no-repeat;
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover; } }
  .forex-template .table-pricing .pricing {
    min-height: 680px;
    max-width: 480px;
    -webkit-box-shadow: 0 8px 34px rgba(0, 0, 0, 0.25);
    -moz-box-shadow: 0 8px 34px rgba(0, 0, 0, 0.25);
    box-shadow: 0 8px 34px rgba(0, 0, 0, 0.25);
    border-radius: 4px;
    overflow: hidden;
    margin: 0 auto 40px; }
    .forex-template .table-pricing .pricing header h4 {
      color: #fff;
      text-align: center;
      font-size: 27px;
      font-size: 1.6875rem;
      line-height: 20px;
      padding: 40px 20px;
      text-transform: uppercase;
      font-family: "font-bold", Helvetica, Arial, sans-serif; }
    .forex-template .table-pricing .pricing .commission-details, .forex-template .table-pricing .pricing.gold .price-details .commission, .forex-template .table-pricing .pricing.platinum .price-details .commission {
      display: inline-block; }
      .forex-template .table-pricing .pricing .commission-details > div, .forex-template .table-pricing .pricing.gold .price-details .commission > div, .forex-template .table-pricing .pricing.platinum .price-details .commission > div {
        display: table-cell;
        vertical-align: middle;
        width: 48%; }
        .forex-template .table-pricing .pricing .commission-details > div.number, .forex-template .table-pricing .pricing.gold .price-details .commission > div.number, .forex-template .table-pricing .pricing.platinum .price-details .commission > div.number {
          line-height: 30px;
          padding-top: 15px; }
          .forex-template .table-pricing .pricing .commission-details > div.number label, .forex-template .table-pricing .pricing.gold .price-details .commission > div.number label, .forex-template .table-pricing .pricing.platinum .price-details .commission > div.number label {
            display: inline-block;
            clear: both;
            font-size: 16px;
            font-size: 1rem;
            padding: 5px;
            margin-top: 8px; }
        .forex-template .table-pricing .pricing .commission-details > div.percentage, .forex-template .table-pricing .pricing.gold .price-details .commission > div.percentage, .forex-template .table-pricing .pricing.platinum .price-details .commission > div.percentage {
          font-family: "font-light", Helvetica, Arial, sans-serif;
          border-left: 1px solid #f3f3f3; }
          .forex-template .table-pricing .pricing .commission-details > div.percentage lable, .forex-template .table-pricing .pricing.gold .price-details .commission > div.percentage lable, .forex-template .table-pricing .pricing.platinum .price-details .commission > div.percentage lable {
            background: #f9f9f9;
            font-size: 30px;
            font-size: 1.875rem;
            color: #c7bea4;
            text-transform: uppercase;
            padding: 0 8px;
            border-radius: 4px;
            display: inline-block;
            clear: both;
            line-height: 35px; }
          .forex-template .table-pricing .pricing .commission-details > div.percentage > span, .forex-template .table-pricing .pricing.gold .price-details .commission > div.percentage > span, .forex-template .table-pricing .pricing.platinum .price-details .commission > div.percentage > span {
            color: #333;
            font-size: 80px;
            font-size: 5rem;
            letter-spacing: -15px;
            line-height: 35px;
            display: block;
            margin-top: 25px; }
            .forex-template .table-pricing .pricing .commission-details > div.percentage > span span, .forex-template .table-pricing .pricing.gold .price-details .commission > div.percentage > span span, .forex-template .table-pricing .pricing.platinum .price-details .commission > div.percentage > span span {
              font-size: 47px;
              font-size: 2.9375rem; }
    .forex-template .table-pricing .pricing .price-details {
      -webkit-box-shadow: 0 11px 14px rgba(0, 0, 0, 0.25);
      -moz-box-shadow: 0 11px 14px rgba(0, 0, 0, 0.25);
      box-shadow: 0 11px 14px rgba(0, 0, 0, 0.25);
      background: #fff;
      text-align: center;
      height: 475px; }
      .forex-template .table-pricing .pricing .price-details .amount {
        display: block;
        background: #f6f6f6;
        border: 2px solid #f3f2ee;
        border-left-width: 0;
        border-right-width: 0; }
        .forex-template .table-pricing .pricing .price-details .amount .amount-details {
          display: inline-block; }
          .forex-template .table-pricing .pricing .price-details .amount .amount-details > div {
            display: block; }
            .forex-template .table-pricing .pricing .price-details .amount .amount-details > div > div {
              display: inline-block; }
              .forex-template .table-pricing .pricing .price-details .amount .amount-details > div > div.number {
                color: #2a2c31;
                font-family: "font-bold", Helvetica, Arial, sans-serif;
                font-size: 112px;
                font-size: 7rem;
                letter-spacing: -4px;
                line-height: 81px; }
              .forex-template .table-pricing .pricing .price-details .amount .amount-details > div > div.text {
                font-size: 58px;
                font-size: 3.625rem;
                font-family: "font-light", Helvetica, Arial, sans-serif;
                display: inline-block;
                color: #b2a578;
                text-align: left;
                letter-spacing: -1px;
                line-height: 41px;
                margin-left: -5px; }
                .forex-template .table-pricing .pricing .price-details .amount .amount-details > div > div.text span {
                  color: rgba(159, 159, 159, 0.8);
                  font-size: 28px;
                  font-size: 1.75rem;
                  letter-spacing: -0.5px;
                  word-spacing: -2px;
                  display: block; }
          .forex-template .table-pricing .pricing .price-details .amount .amount-details label {
            background: #efede8;
            border-radius: 4px;
            color: #646465;
            font-weight: normal;
            font-family: "font-light", Helvetica, Arial, sans-serif;
            text-transform: uppercase;
            padding: 2px 10px;
            display: block;
            font-size: 17px;
            font-size: 1.0625rem;
            margin-top: 10px; }
      .forex-template .table-pricing .pricing .price-details .commission {
        color: #393a3e; }
        .forex-template .table-pricing .pricing .price-details .commission .number {
          font-size: 65px;
          font-size: 4.0625rem;
          letter-spacing: -3px;
          line-height: 31px; }
          .forex-template .table-pricing .pricing .price-details .commission .number span {
            font-size: 50px;
            font-size: 3.125rem;
            margin-right: 3px; }
          .forex-template .table-pricing .pricing .price-details .commission .number .lable {
            background: #f3f3f3;
            color: #828284;
            font-size: 18px;
            font-size: 1.125rem;
            text-transform: uppercase;
            font-weight: normal;
            font-family: "font-light", Helvetica, Arial, sans-serif;
            border-radius: 4px;
            padding: 5px 8px;
            line-height: 17px;
            letter-spacing: 0; }
        .forex-template .table-pricing .pricing .price-details .commission > label {
          font-weight: normal;
          opacity: 0.7;
          filter: alpha(opacity=70);
          font-size: 29px;
          font-size: 1.8125rem;
          margin-bottom: 0; }
    .forex-template .table-pricing .pricing > footer {
      text-align: right;
      padding: 21px 35px; }
      .forex-template .table-pricing .pricing > footer a {
        color: #fff;
        font-size: 30px;
        font-size: 1.875rem;
        font-family: "font-light", Helvetica, Arial, sans-serif; }
        .forex-template .table-pricing .pricing > footer a i {
          width: 15px;
          height: 14px;
          background-position: -351px -342px;
          position: relative;
          top: -3px; }
        .forex-template .table-pricing .pricing > footer a:hover {
          opacity: 0.6;
          filter: alpha(opacity=60); }
    .forex-template .table-pricing .pricing.silver {
      background: #b4b1b3; }
      .forex-template .table-pricing .pricing.silver .price-details .amount {
        padding-top: 50px;
        padding-bottom: 50px; }
        .forex-template .table-pricing .pricing.silver .price-details .amount .amount-details > div .number {
          font-size: 90px;
          font-size: 5.625rem; }
          .forex-template .table-pricing .pricing.silver .price-details .amount .amount-details > div .number span {
            position: relative;
            left: -11px; }
        .forex-template .table-pricing .pricing.silver .price-details .amount .amount-details > div .text {
          font-size: 45px;
          font-size: 2.8125rem; }
          .forex-template .table-pricing .pricing.silver .price-details .amount .amount-details > div .text span {
            font-size: 28px;
            font-size: 1.75rem; }
      .forex-template .table-pricing .pricing.silver .price-details .commission {
        padding-top: 71px;
        padding-bottom: 71px; }
        .forex-template .table-pricing .pricing.silver .price-details .commission .number .lable {
          position: relative;
          top: -14px;
          left: -5px; }
    .forex-template .table-pricing .pricing.gold {
      background: #b2a578; }
      .forex-template .table-pricing .pricing.gold .price-details .amount {
        padding-top: 75px;
        padding-bottom: 75px; }
      .forex-template .table-pricing .pricing.gold .price-details .commission {
        padding-top: 42px;
        padding-bottom: 42px; }
    .forex-template .table-pricing .pricing.platinum {
      background: #3d3d3d; }
      .forex-template .table-pricing .pricing.platinum .price-details .amount {
        padding-top: 105px;
        padding-bottom: 105px; }
      .forex-template .table-pricing .pricing.platinum .price-details .commission {
        padding-top: 12px;
        padding-bottom: 12px; }
        .forex-template .table-pricing .pricing.platinum .price-details .commission .percentage > span {
          letter-spacing: 0 !important;
          display: none; }
  .forex-template .table-pricing .high-volume {
    background: #f7f6f2;
    border-radius: 4px;
    border: 1px solid #e9e5d8;
    padding: 30px;
    display: table;
    width: 100%; }
    @media (min-width: 768px) {
      .forex-template .table-pricing .high-volume {
        text-align: center; } }
    @media (min-width: 992px) {
      .forex-template .table-pricing .high-volume {
        text-align: left; } }
    @media screen and (max-width: 767px) {
      .forex-template .table-pricing .high-volume {
        text-align: center;
        display: block;
        width: auto;
        padding: 10px 20px 20px; } }
    .forex-template .table-pricing .high-volume p {
      font-family: "font-light", Helvetica, Arial, sans-serif;
      text-transform: uppercase;
      font-size: 40px;
      font-size: 2.5rem;
      line-height: 1.5; }
      @media (min-width: 768px) {
        .forex-template .table-pricing .high-volume p {
          display: block; } }
      @media (min-width: 992px) {
        .forex-template .table-pricing .high-volume p {
          display: table-cell;
          vertical-align: middle; } }
      @media screen and (max-width: 767px) {
        .forex-template .table-pricing .high-volume p {
          font-size: 30px;
          font-size: 1.875rem;
          margin-bottom: 15px; } }
    @media (min-width: 768px) {
      .forex-template .table-pricing .high-volume a {
        display: inline-block;
        float: none;
        margin-top: 15px; } }
    @media (min-width: 992px) {
      .forex-template .table-pricing .high-volume a {
        display: table;
        vertical-align: middle;
        float: right;
        margin-top: 0; } }
.forex-template .spread-section {
  background: #fbfbf9;
  padding: 50px 0;
  border-bottom: 1px solid #d9cea8; }
  @media (min-width: 768px) {
    .forex-template .spread-section .tab-main {
      padding: 0; } }
  @media (min-width: 992px) {
    .forex-template .spread-section .tab-main {
      padding: 0 20px; } }
  @media screen and (max-width: 767px) {
    .forex-template .spread-section .tab-main {
      padding: 0; } }
  .forex-template .spread-section .nav-tabs li i.pairs {
    width: 35px;
    height: 20px;
    position: relative;
    top: 3px;
    background-position: -350px -255px; }
  .forex-template .spread-section .table thead tr th {
    text-align: center; }
    .forex-template .spread-section .table thead tr th:first-child {
      text-align: left; }
  .forex-template .spread-section .table tbody tr td {
    text-align: center; }
    .forex-template .spread-section .table tbody tr td:first-child {
      text-align: left; }
  .forex-template .spread-section .table tbody tr:last-child td {
    border-bottom: 1px solid #f3f2f0; }
  .forex-template .spread-section .media-list {
    padding-left: 30px;
    margin-top: 40px; }
    .forex-template .spread-section .media-list .media {
      margin-bottom: 15px; }
      .forex-template .spread-section .media-list .media .media-left {
        padding-right: 10px; }
        .forex-template .spread-section .media-list .media .media-left i {
          width: 31px;
          height: 31px;
          top: 2px; }
          .forex-template .spread-section .media-list .media .media-left i.rates {
            background-position: -350px -277px; }
          .forex-template .spread-section .media-list .media .media-left i.execution {
            background-position: -350px -309px; }
      .forex-template .spread-section .media-list .media .media-body {
        font-size: 23px;
        font-size: 1.4375rem; }
    .forex-template .spread-section .media-list.visible-sm {
      padding-left: 0;
      margin-top: -35px; }
      .forex-template .spread-section .media-list.visible-sm .media:first-child {
        text-align: right; }
        .forex-template .spread-section .media-list.visible-sm .media:first-child .media-left {
          padding-left: 10px;
          padding-right: 0; }
      .forex-template .spread-section .media-list.visible-sm .media-body {
        font-size: 15px;
        font-size: 0.9375rem; }
  .forex-template .spread-section figure {
    display: block;
    max-width: 100%;
    overflow: hidden;
    padding-left: 20px; }
    .forex-template .spread-section figure img {
      max-width: 100%;
      width: auto;
      display: block; }
.forex-template .open-account-footer {
  padding: 75px 0;
  text-align: center; }
  @media screen and (max-width: 767px) {
    .forex-template .open-account-footer {
      padding: 50px 0 0; } }
  .forex-template .open-account-footer p {
    font-size: 35px;
    font-size: 2.1875rem;
    text-transform: uppercase;
    color: #4b4c4f;
    line-height: 50px;
    font-size: 35px;
    font-size: 2.1875rem;
    font-family: "font-light", Helvetica, Arial, sans-serif;
    margin-bottom: 50px; }
    @media screen and (max-width: 767px) {
      .forex-template .open-account-footer p {
        margin-bottom: 20px;
        margin-bottom: 45px; } }
  @media (min-width: 768px) {
    .forex-template .open-account-footer .btn-group .btn {
      margin: 0 5px;
      font-size: 20px;
      font-size: 1.25rem;
      min-width: 0;
      min-height: 0;
      line-height: 1.1;
      padding: 15px 20px; } }
  @media (min-width: 992px) {
    .forex-template .open-account-footer .btn-group .btn {
      margin: 0 20px;
      font-size: 30px;
      font-size: 1.875rem;
      min-width: 390px;
      min-height: 80px;
      line-height: 37px;
      padding: 20px 30px; } }
  @media screen and (max-width: 767px) {
    .forex-template .open-account-footer .btn-group .btn {
      margin: 0 2px;
      font-size: 16px;
      font-size: 1rem;
      min-width: 0;
      min-height: 0;
      line-height: 1.1;
      padding: 10px 12px; } }
  .forex-template .open-account-footer .btn-group .btn-primary {
    background: #aca380;
    border: 2px solid #aca380; }
  .forex-template .open-account-footer .btn-group .btn-default {
    border-color: #aca380;
    color: #aca380;
    text-transform: uppercase;
    color: #333; }

/*# sourceMappingURL=ltr-app.css.map */